* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin-top: 80px;
    color: #1F1F1F;
    background-color: #90D5FF;
    padding: 2rem;
    font-family: "Liliana", sans-serif;
    font-weight: 400;
    font-size: 1.7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}

p {
    font-size: 1.5rem;
}

form {
    display: flex;
    gap: 0;
    box-sizing: border-box;
}

input {
    font-family: 'Space', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    padding: 0.8rem 1.25rem;
    border-radius: 8px 0px 0px 8px;
    border: 2px solid black;
}

button {
    font-family: 'Space', sans-serif;
    font-weight: 300;
    font-size: 1.75rem;
    padding: 0.8rem 1.25rem;
    border-radius: 0px 8px 8px 0px;
    background-color: #F0EFEC;
    border: 2px solid black;
    border-left: None;
}

button:hover {
    background-color: #E8E7E3;
}